html, img, li.background-middle, .card-feature-image, .tab-bar, #notification-toggle-full, #profile-drop, iframe, input#search-field, a#right-menu-dock, .mejs__layers, .mejs__controls, #left-menu .logo, .account-drop.open, .results .information-list, ul.results.information-list, .infoBox, .infoBox [data-intent="ResultsStream"], .cover-photo, .card-class-image {
    -webkit-filter: invert(1);
}

img[alt="Camberwell Grammar School"] {
    filter: invert(1) brightness(1.5);
    mix-blend-mode: lighten;
}

.tab-bar {
    background-color: #191b1f !important;
}

.hybrid-bar {
    position: sticky;
    z-index: 2;
}

#notification-toggle, #notification-toggle-full {
    background-color: #191b1f;
}

.tab-bar a:hover {
    background-color: #494c50 !important;
}

a.navthis {
    background-color: #22252a !important;
}
