.checklist input[type=radio]:not(.plain), .checklist input[type=checkbox]:not(.plain), .radiolist input[type=radio]:not(.plain), .radiolist input[type=checkbox]:not(.plain), input[type=radio]:not(.plain), input[type=checkbox]:not(.plain) {
    position: absolute;
    width: 0;
    height: 0;
    min-height: 0;
    opacity: 0;
}

input[type="checkbox"], input[type="radio"] {
    min-height: 1.5rem;
}

input[type="file"], input[type="checkbox"], input[type="radio"], select {
    margin: 0 0 1rem 0;
}

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input, textarea, select {
    transition: all 0.15s linear;
    min-height: 2.5rem;
    line-height: inherit;
    font-weight: 400;
}

input {
    line-height: normal;
}

.checklist input[type=radio]:not(.plain)+label, .checklist input[type=checkbox]:not(.plain)+label, .radiolist input[type=radio]:not(.plain)+label, .radiolist input[type=checkbox]:not(.plain)+label, input[type=radio]:not(.plain)+label.radio-label, input[type=checkbox]:not(.plain)+label.checkbox-label, body.login input[type=checkbox]:not(.plain)+label {
    position: relative;
    display: block;
}

input[type="checkbox"]+label, input[type="radio"]+label {
    display: inline-block;
    margin-left: 0.5rem;
    margin-right: 1rem;
    margin-bottom: 0;
    vertical-align: baseline;
}

section label {
    font-size: 0.8125rem;
}

.hide-for-small-only, .show-for-small-up, .hide-for-small, .hide-for-small-down, .hide-for-medium-only, .show-for-medium-up, .list-header, .hide-for-medium, .hide-for-medium-down, .hide-for-large-only, .show-for-large-up, .hide-for-large, .hide-for-large-down, .show-for-xlarge-only, .show-for-xlarge-up, .show-for-xlarge, .show-for-xlarge-down, .hide-for-xxlarge-only, .hide-for-xxlarge-up, .hide-for-xxlarge, .show-for-xxlarge-down {
    display: inherit !important;
}
.hide-for-small-only, .show-for-small-up, .hide-for-small, .hide-for-small-down, .hide-for-medium-only, .show-for-medium-up, .list-header, .hide-for-medium, .hide-for-medium-down, .show-for-large-only, .show-for-large-up, .show-for-large, .show-for-large-down, .hide-for-xlarge-only, .hide-for-xlarge-up, .hide-for-xlarge, .show-for-xlarge-down, .hide-for-xxlarge-only, .hide-for-xxlarge-up, .hide-for-xxlarge, .show-for-xxlarge-down {
    display: inherit !important;
}
.show-for-small-only, .hide-for-small-up, .show-for-small, .show-for-small-down, .hide-for-medium-only, .hide-for-medium-up, .hide-for-medium, .hide-for-medium-down, .show-for-large-only, .show-for-large-up, .show-for-large, .hide-for-large-down, .show-for-xlarge-only, .show-for-xlarge-up, .show-for-xlarge, .hide-for-xlarge-down, .show-for-xxlarge-only, .show-for-xxlarge-up, .show-for-xxlarge, .hide-for-xxlarge-down {
    display: none !important;
}
.hide-for-small-only, .hide-for-small-up, .hide-for-small, .hide-for-small-down, .show-for-medium-only, .show-for-medium-up, .list-header, .show-for-medium, .hide-for-medium-down, .show-for-large-only, .show-for-large-up, .show-for-large, .hide-for-large-down, .show-for-xlarge-only, .show-for-xlarge-up, .show-for-xlarge, .hide-for-xlarge-down, .show-for-xxlarge-only, .show-for-xxlarge-up, .show-for-xxlarge, .hide-for-xxlarge-down {
    display: none !important;
}


input[type=checkbox]:not(.plain):checked+label.checkbox-label:before, body.login input[type=checkbox]:not(.plain):checked+label:before, input[type=checkbox]:not(.plain):checked+label.checkbox-label:after, body.login input[type=checkbox]:not(.plain):checked+label:after {
    color: #0066b0 !important;
    background-color: #c1e5ff;
}
input[type=checkbox]:not(.plain)+label.checkbox-label:before, body.login input[type=checkbox]:not(.plain)+label:before {
    width: 1.5rem;
    height: 1.5rem;
    background-color: #c1e5ff;
}

.checklist input[type=radio]:not(.plain)+label:before, .checklist input[type=checkbox]:not(.plain)+label:before, .radiolist input[type=radio]:not(.plain)+label:before, .radiolist input[type=checkbox]:not(.plain)+label:before, input[type=radio]:not(.plain)+label.radio-label:before, input[type=checkbox]:not(.plain)+label.checkbox-label:before, body.login input[type=checkbox]:not(.plain)+label:before {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    display: block;
    content: "";
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

label {
    display: initial;
}

label {
    color: #000;
    cursor: default;
    display: block;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.4rem;
    margin-bottom: 0;
}

input[type=checkbox]:not(.plain)+label.checkbox-label:after, body.login input[type=checkbox]:not(.plain)+label:after {
    width: 1.375rem;
    height: 1.375rem;
    top: 0.0625rem;
    left: 0.0625rem;
    background-color: #fff;
    line-height: 1.4375rem;
    font-size: 1rem;
}
input[type=checkbox]:not(.plain)+label.checkbox-label:before, body.login input[type=checkbox]:not(.plain)+label:before, input[type=checkbox]:not(.plain)+label.checkbox-label:after, body.login input[type=checkbox]:not(.plain)+label:after {
    transition: color 360ms cubic-bezier(0.2, 1, 0, 1);
    transition: background-color 360ms cubic-bezier(0.2, 1, 0, 1);
}
.checklist input[type=radio]:not(.plain)+label:after, .checklist input[type=checkbox]:not(.plain)+label:after, .radiolist input[type=radio]:not(.plain)+label:after, .radiolist input[type=checkbox]:not(.plain)+label:after, input[type=radio]:not(.plain)+label.radio-label:after, input[type=checkbox]:not(.plain)+label.checkbox-label:after, body.login input[type=checkbox]:not(.plain)+label:after {
    font-family: "schoolbox";
    position: absolute;
    display: block;
    content: "\e604";
    color: rgba(255,255,255,0);
    margin: 0;
    text-align: center;
}

input[type=checkbox]:not(.plain)+label.checkbox-label, body.login input[type=checkbox]:not(.plain)+label {
    cursor: default;
    min-height: 1.5rem;
    line-height: 1.5rem;
    padding: 0 0 0 2rem;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 2rem;
    font-weight: 400;
    margin: 0 0 0.5rem 0;
}

label.checkbox-label {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }