@font-face {
    font-family: "bravura";
    src: url('chrome-extension://__MSG_@@extension_id__/styles/bravura.otf');
}

.icon-podcast:before, .icon-masonry-Component_Homepage_PodcastController:before {
    content: '\266b' !important;
    font-family: "bravura" !important;
    font-size: 1.8rem !important;
    position: relative;
    top: .25rem; 
}


.icon-music-lesson.newicon {
    font-family: "bravura" !important;
    font-size: 1.2rem !important;
    margin-right: .75rem !important;
    margin-top: 1rem !important;
}

.second-nav .icon-podcast:before {
    font-size: 1.4rem !important;
    top: 0rem !important;
}

.second-nav .icon-podcast {
    position: relative;
    right: .3rem !important;
}