html {
    filter: invert(1);
    background-color: white;
}

img {
    filter: invert(1);
}

.mini-icon {
    filter: invert(1)
}

footer {
    filter: invert(1)
}

.course-dashboard__card-lens-svg {
    filter: invert(1);
}

[class*="Card-card-image"] {
    filter: invert(1);
}

[class*="icon"] {
    filter: invert(1);
}

#left-nav #menu-s-main .menu .menu a span {
    filter: invert(1);
}

.s-like-sentence span {
    filter: invert(1);
}

img.mathquill-formula {
    filter: invert(0);
}

img:not([class*="icon"]) {
    background-color: #ffffffa0;
}

iframe:not([src*="zoom"]) {
    filter: invert(1)
}

div#DocumentViewer {
    filter: invert(1);
}