html, img, .mini-icon, .course-dashboard__card-lens-svg, [class*="Card-card-image"], [class*="icon"], 
#left-nav #menu-s-main .menu .menu a span, .s-like-sentence span, iframe:not([src*="zoom"]), div#DocumentViewer  {
    -webkit-filter: invert(1);
}

footer {
    filter: invert(1) contrast(2);
    border-top: 1px black;
}

html {
    background-color: black;
}

img.mathquill-formula {
    filter: invert(0);
}

img:not([class*="icon"]) {
    background-color: #ffffffa0;
}

body::-webkit-scrollbar {
    width: 2em;
    background: black;
}

body::-webkit-scrollbar-thumb {
    background-color: #303030;
    border-radius: 100px;
    -webkit-box-shadow:inset 0px 0px 0px .5em #000;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #2a2a2a;
}